/**
 * index.scss
 * - Add any styles you want here!
 */

$font-stack: "Futura PT", sans-serif;


// $font-light: 'ft_light', sans-serif;
// $font-book: 'ft_book', sans-serif;
// $font-bold: 'ft_bold', sans-serif;
// $font-medium: 'ft_medium', sans-serif;
// $font-demi: 'ft_demi', sans-serif;
//
//
// $font-stack: $font-book, sans-serif;

$nav-height: 12%;
$footer-height: 6%;
$stage-height: auto;

$stage-width: auto; //100vw

.hidden {
  display: none;
}

body {
  width: auto;
  height: auto;
  margin: 0;
  font-family: $font-stack;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stage {
  width: $stage-width;
  // height: $stage-height; //(100vw * .62)
  flex-grow: 3;
}
.carousel {
  width: auto; // switching this to 100vw will make the image zoom in
  height: auto;
  // height: $stage-height;
}

.carousel-img {
  width: auto; // switching this to 100vw will make the image zoom in
  height: auto;
  // height: $stage-height;
  // overflow: hidden;
}

.nav {
  width: 100%;
  height: $nav-height;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .logo {
    width: 20%;
    height: 70%;
    margin-left: 1em;
    box-sizing: border-box;
    align-content: center;
    vertical-align: center;

    img {
      height: 100%;
    }
    // flex-grow: 1;

    .btn-project {
      background-color: white;
      padding: 0.5em;
      margin: 0.25em;
    }
  }


  .project-title {
    height: auto;
    flex-grow: 1;
    padding: 1em;
    box-sizing: border-box;
  }

      %header-buttons {
        width: 10%;
        padding: 1em;
        box-sizing: border-box;
        background-color: white;
        text-transform: uppercase;
        text-align: center;

      }

      .header-buttons-about {
        @extend %header-buttons;
        margin-right: 1em;
      }

      .header-buttons-projects {
        @extend %header-buttons;
        margin-right: 1em;

      }



  %title-base {
    fogo-wrapperfamily: $font-stack;
    color: white;
    margin: 0;
  }

  .project-client {
    @extend %title-base;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
  }
  .project-name {
    @extend %title-base;
    font-size: 2em;
    font-weight: medium;
    margin-right: 0.5em;
  }
  .project-location {
    @extend %title-base;
    text-transform: uppercase;
    font-size: 0.75em;
  }
}

.info-panel {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  width: 100vw;
  height: $footer-height;
  background-color: black;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  .spacer { // hack to space out base flexbox
    background-color: pink;
  }

  .direction-button {
    height: 100%;
    background-color: white;
    vertical-align: center;
  }

  .filter-notifier { // shows "currently viewing" filter tag


    .filter-notifier-title {
      color: white;
      text-transform: uppercase;
      font-size: 0.7em;
      letter-spacing: 0.1em;
      text-align: center;
    }

    .filter-notifier-current {
      color: white;
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center;
      letter-spacing: 0.1em;
    }


  }




}







.inline-flex {
  overflow-y: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;

}


.project-grid {
  width: 100%;
  height: 100%;
  background-color: black;

  .project-grid-tags {
    background-color: rgba(0, 0, 0, 1.0);
    padding: 3em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .project-grid-buttons {
    overflow-y: scroll;
    padding: 3em;
    background-color: black;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;

  }

  %project-tags {
    color: white;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
  }

  .project-tags {
    @extend %project-tags;
    font-size: 1.2rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

  }

  .project-tags-active {
    @extend %project-tags;

  }

  .project-tags-inactive {
    @extend %project-tags;

  }

}

.project-button {
  min-width: 175px;
  max-width: 300px;
  min-height: 175px;
  max-height: 300px;
  padding: 0.5em;
  margin: 1em;
  background-color: white;
  background-position: center;
  background-size: cover;
  z-index: 999999;
  .project-button-type {
    color: white;
    float: top;
  }

  %button-text {
   color: white;
    font-family: $font-stack;
  }

  p.button-text-location {
    @extend %button-text;
    text-transform: uppercase;
  }
  p.button-text-project-name {
    @extend %button-text;
    text-transform: uppercase;
  }

  .project-button-name {
    color: white;
    float: bottom;
  }
}

.project-button-filter-inactive {
  opacity: 0.33;
}

// .project-grid-button-wrap {
//   width: 100%;
//   height: 100%;
//   display: inline-flex;
//   flex-direction: row;
//   flex-flow: wrap;
//   align-content: space-around;
//   justify-content: space-around;
// }
